<!-- view/partials/footer.ejs -->
<footer>
    <div class="container">
        <div class="row mt-3 pb-3">
            <div class="col-sm-12 mx-auto text-center">
                <img src="img/logo.png" class="footer-logo">
                <h6 class="footer-copyright ml-2">&copy; 2019 Q’s鍼灸院</h6>
            </div>
        </div>
    </div>
</footer>