<!DOCTYPE>
<html lang="jpn">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q’s鍼灸院</title>
     <meta name="description" content="当院では鍼灸治療に捉われず、可能な限り患者様のご要望に沿った施術を致しております">
    <meta name="keywords" content="湊川, 荒田町, 鍼灸, 整体, 機能訓練, 頭痛, 腰痛, 首の痛み, 肩の痛み, 五十肩">
    <meta name="author" content="Terry Shenker">
    <link rel="shortcut icon" href="img/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:500|Noto+Sans+TC:300" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139725168-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139725168-1');
    </script>
</head>

<body>
    <% include ./partials/navbar %>
    <main>
        <div class="container" id="紹介">
            <div class="row pt-5">
                <div class="col-md-4 offset-md-2 col-sm-12">
                    <h3 class="section-header">
                        <i class="fas fa-grip-lines-vertical"></i>
                        紹介
                    </h3>
                    <p>当院では鍼灸治療に捉われず、可能な限り患者様のご要望に沿った施術を致しております。お気軽にご相談下さい</p>
                    <h3 class="section-header pt-5" id="料金">
                        <i class="fas fa-grip-lines-vertical"></i>
                        料金
                    </h3>
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body text-center pb-0">
                                <h5 class="card-title">
                                    一般
                                </h5>
                                <div class="card-text pb-0">
                                    <p>3,000円 *</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body text-center pb-0">
                                <h5 class="card-title">
                                    高齢者
                                </h5>
                                <div class="card-text pb-0">
                                    <p>2,000円 *</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body text-center pb-0">
                                <h5 class="card-title">
                                    学生
                                </h5>
                                <div class="card-text pb-0">
                                    <p>1,500円 *</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="pt-3">
                        <button data-toggle="popover" class="btn price-button" title="追加情報" data-content="当院は自費診療です">
                            * 追加情報
                        </button>
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 mx-auto text-center">
                    <img class="img-fluid mt-5 paragraph-image" src="img/main-massage-logo2.png" alt="A back massage">
                </div>
                <div class="col-md-12"></div>
            </div>
            <div class="row mt-1 pt-5" id="受付時間">
                <div class="col-md-8 offset-md-2 col-sm-12">
                    <h3 class="section-header">
                        <i class="fas fa-grip-lines-vertical"></i>
                        受付時間
                    </h3>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th>月</th>
                                <th>火</th>
                                <th>水</th>
                                <th>木</th>
                                <th>金</th>
                                <th>土</th>
                                <th>日</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-bottom">
                                <th class="text-right table-side-label">
                                    午前<br>
                                    <span class="table-side-header">9:00〜12:00</span>
                                </th>
                                <td><i class="fas fa-circle pt-2"></i></td>
                                <td><i class="fas fa-circle pt-2"></i></td>
                                <td><i class="fas fa-circle pt-2"></i></td>
                                <td><i class="fas fa-circle pt-2"></i></td>
                                <td><i class="fas fa-circle pt-2"></i></td>
                                <td><i class="fas fa-circle pt-2"></i></td>
                                <td><i class="fas fa-slash pt-2"></i></td>
                            </tr>
                            <tr>
                                <th class="text-right table-side-label">
                                    午後<br>
                                    <span class="table-side-header">13:00〜18:00</span>
                                </th>
                                <td><i class="fas fa-circle pt-2"></i></td>
                                <td><i class="fas fa-circle pt-2"></i></td>
                                <td><i class="fas fa-slash pt-2"></i></td>
                                <td><i class="fas fa-circle pt-2"></i></td>
                                <td><i class="fas fa-circle pt-2"></i></td>
                                <td><i class="fas fa-slash pt-2"></i></td>
                                <td><i class="fas fa-slash pt-2"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-5" id="接近">
                <div class="col-md-4 offset-md-2 col-sm-12">
                    <h3 class="section-header">
                        <i class="fas fa-grip-lines-vertical"></i>
                        アクセス
                    </h3>
                    <p><span class="font-weight-bold">住所:</span> 神戸市兵庫区荒田町4丁目18-14</p>
                    <p><span class="font-weight-bold">西神山手:</span> 湊川</p>
                    <a href="https://goo.gl/maps/tjkBwvah5uB2" class="btn btn-outline-dark google-link-btn mt-3 mb-5" target="_blank">
                        <i class="fab fa-google mr-2"></i>
                        グーグルマップで開く
                    </a>
                </div>
                <div class="col-md-4 col-sm-12 mx-auto text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.8232671329633!2d135.16331751457446!3d34.68440969159964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60008f6b86d67695%3A0x564d65b56dd59550!2s4-ch%C5%8Dme-18-14+Aratach%C5%8D%2C+Hy%C5%8Dgo-ku%2C+Kobe%2C+Hyogo+652-0032!5e0!3m2!1sen!2sjp!4v1553410610814" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-5" id="contact_info">
                <div class="col-md-8 offset-md-2 col-sm-12 mb-5">
                    <h3 class="section-header">
                        <i class="fas fa-grip-lines-vertical"></i>
                        コンタクト
                    </h3>
                    <p>
                        <span class="contact-icon"><i class="fas fa-phone mr-2"></i></span>
                        <a href="tel:09020414874" class="contact-link">090-2041-4874</a>
                    </p>
                    <p>
                        <span class="contact-icon"><i class="fas fa-at mr-2"></i></span>
                        <a href="mailto:info@qssinkyu.com" class="contact-link" target="_top">info@qssinkyu.com</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-3 col-sm-12 mb-2">
                    <a type="button" class="btn btn-dark btn-block bottom-btn" href="inquiries/add">
                        <i class="far fa-paper-plane mb-2"></i>
                        <br>
                        問い合わせ
                    </a>
                </div>
                <div class="col-md-2 col-sm-12 mb-5">
                    <a type="button" class="btn btn-dark btn-block bottom-btn" href="appointments/add">
                        <i class="far fa-calendar-alt mb-2"></i>
                        <br>
                        予約
                    </a>
                </div>
            </div>
        </div> <!-- end container -->
    </main>
    <% include ./partials/footer %>
</body>

</html>
